{% extends "base.html" %}
{% block title %}عن السحابة الطبية{% endblock %}
{% block content %}
<h1>عن السحابة الطبية</h1>

{% include 'header.html' with about=True %}

<h2>قصة السحابة الطبية</h2>

<p>بدأت السحابة الطبية مبادرة طلابيّة للقفز بطريقة تشارك الطلاب للمواد الأكاديمية المفيدة عبر توفير منصة جامعة توحد الجهود وتعممّ النفع وتجعله مستداما للدفعات القادمة.  بدأت السحابة الطبية تجريبيا في الفصل الدراسي الثاني من السنة الدراسية 2013-2014، وسرعان ما اعتمدتها الدفعات في الأقسام جميعا لتعتمد رسميا في السنة الدراسية 2014-2015. أسس السحابة ونسّقها في السنوات الثلاثة الأولى <a target="_blank" href="https://twitter.com/KH_ALABDULJABAR">خالد العبد الجبار</a>، و<a target="_blank" href="https://twitter.com/SuLTaNx_">سلطان العشيوي</a>، و<a target="_blank" href="https://osamakhalid.com/">أسامة خالد</a>.</p>

<h2>إدارة السحابة الطبية</h2>

<p>تُغطّى تكاليف تشغيل السحابة الطبية تعاونيًا بين الطلاب والطالبات جميعا، ويقوم على صيانتها والإشراف عليها تقنيًا فريق طلابي مستقل. لكل دفعة مُنسّق يملك الصلاحيات الإدارية، وفريق ممن لديهم صلاحية رفع الملفات.</p>

<p>يُنسّق السحابة ككل حاليا ريان التركي وشهد الدليجان وزها الجمعان.</p>

<p>تتوفّر <a target="_blank" href="https://s3-eu-west-1.amazonaws.com/ksauhscloudbackup/index.html">نسخة احتياطية من محتويات السحابة الطبيّة</a> تُحدّث يوميًا. هذه النسخة متوافرة على خادوم منفصل عن الخادوم الأساسي، ويُراد لها أن تسدّ الحاجة عند ما يتطلب الأمر صيانة الموقع الأساسي.</p>

<h2>قيم السحابة الطبية</h2>
<p>نريد للسحابة الطبية أن تكون تجربة رائدة في تسخير المنصات التقنية المستقلة المرنة التي يديرها الطلاب أنفسهم ويكيّفونها مع احتياجاتهم لتحقيق النفع العام.  نريد أن نتجاوز العقبات التي تفرضها المنصات التجارية في مراقبة الملفات النافعة أكاديميا وحذفها لحماية التكسب الجشع. نريد أن نؤسس مكتبة عامرة.</p>

{% endblock %}
